"""
This will be all about creating own data and using already existing ones.

Exercise Link: https://www.kaggle.com/code/lazybit/exercise-creating-reading-and-writing/edit
"""

In [3]:
import pandas as pd

### CREATING DATA 
Two core objects in pandas: DataFrame and Series

In [5]:
# Dataframe is a table. It contains arrays of individual enteries
# DFs are not limited to integers values it can be strings as well
pd.DataFrame({'yes':[50,21], 'no':[131,2]})

   yes   no
0   50  131
1   21    2

pd.DataFrame() is a constructor to generate DF objects. Syntax is to keep a dictionary in the initialisation where keys are columns and values are list of enteries.

In [6]:
# Sometimes we want to assign the index our own custom names like here 0 and 1 are by default taken
pd.DataFrame({'yes':[50,21], 'no':[131,2]},
            index = ['Product A', 'Product B'])

           yes   no
Product A   50  131
Product B   21    2

#### Series
It is a sequence of data values.In contrast to DFs series is a list rather than a table. 
A series is just like a column of DFs or DFs are just concatenation of series along x axis.We can assign row labels just like DFs.

In [7]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
pd.Series([30,40,45],
         index = ['2015 sales', '2016 sales', '2017 sales'],
         name = 'Product A')

2015 sales    30
2016 sales    40
2017 sales    45
Name: Product A, dtype: int64

## Reading Files

In [12]:
# Reading a csv file through pd.read_csv() function
wine_reviews = pd.read_csv("../Dataset/winemag-data-130k-v2.csv")

In [14]:
# we can get the dimensions of the table using shape attribute
wine_reviews.shape

(129971, 14)

In [17]:
# to view the table or csv
# head() displays the first 5 rows
wine_reviews.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [21]:
# pd.read_csv() function has over 30 different optional paramets we can pass in the function. For example index here 
# is 0,1,2... but by default index = 0
wine_reviews = pd.read_csv("../Dataset/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos